.table-horario {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table-horario th, .table-horario td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-horario th {
  background-color: #4CAF50;
  color: white;
}

.table-horario td {
  background-color: #f2f2f2;
}

.table-horario tbody tr:nth-child(even) td {
  background-color: #e6ffe6; /* Verde claro */
}

.table-horario tbody tr:nth-child(odd) td {
  background-color: #ffffff; /* Blanco */
}

.table-horario tbody tr:hover td {
  background-color: #c8e6c9; /* Verde claro al pasar el cursor */
}

.table-horario th, .table-horario td {
  font-size: 14px;
  padding: 10px;
}

.table-horario th {
  font-size: 16px;
}

.table-horario caption {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
