<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a0c4ad;">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../../assets/reloj.svg" alt="" width="40">
        </a>


        <!--Boton para el menu movil-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Mostrar / Ocultar Menu">

            <span class="navbar-toggler-icon"></span>
        </button>



        <!--Menu de navegacion-->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="" routerLink="/profesores"class="nav-link">Profesores</a></li>
                 <!--Dropdown-->
          

                <!--Nuevo crud para crear desde la API-->
                <li class="nav-item dropdown">
                    <a href="" routerLink="/asignaturas" class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-menu">
                        Asignaturas
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                        <li><a href="" class="dropdown-item">Un ejercicio</a></li>

                        <li><a href="" class="dropdown-item">Un entrenamiento</a></li>
                        <li><a href="" class="dropdown-item">Un comentario</a></li>

                    </ul>
                    <!--Lista que se va a desplegar-->
                    <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                        <li><a href="" class="dropdown-item">Un ejercicio</a></li>

                        <li><a href="" class="dropdown-item">Crear Entrenamiento</a></li>
                        <li><a href="" class="dropdown-item">Un entrenamiento</a></li>
                        <li><a href="" class="dropdown-item">Crear Comentario</a></li>

                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a href="" routerLink="/horarios" class="nav-link">Horarios</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                        <li><a href="" class="dropdown-item">Crear Comentario</a></li>

                    </ul>
                    <!--Lista que se va a desplegar-->
                    <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                        <li><a href="" class="dropdown-item">Un ejercicio</a></li>

                        <li><a href="" class="dropdown-item">Crear Entrenamiento</a></li>
                        <li><a href="" class="dropdown-item">Un entrenamiento</a></li>
                        <li><a href="" class="dropdown-item">Crear Comentario</a></li>
                        <li><a href="" class="dropdown-item">Crear Suscripción</a></li>
                        <li><a href="" class="dropdown-item">Crear PROMOCIÓN</a></li>

                    </ul>

                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fas fa-user-circle"></i>
                    </a>
                </li>
            


            </ul>

        </div>
    </div>
</nav>