<app-header></app-header>
<div class="main-container">
  <div class="content">
    <div class="container">
      <div class="search-container">
        <input type="text" pInputText placeholder="Buscar por grupo..." [(ngModel)]="grupoCod" name="grupoCod" class="search-input" />
        <button pButton type="button" icon="pi pi-search" label="Buscar" (click)="buscarHorarios()" class="search-button"></button>
      </div>

      <div class="horario-table-container" *ngIf="horarios.length > 0">
        <table class="table table-bordered custom-table">
          <thead>
            <tr>
              <th>Hora/Día</th>
              <th *ngFor="let dia of diasSemana">{{ dia }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let franja of franjas">
              <td>{{ franja }}</td>
              <td *ngFor="let dia of diasSemana">{{ obtenerHorario(dia, franja) }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p-message *ngIf="!horarios.length && !loading" severity="info" text="No se encontraron horarios para el grupo especificado."></p-message>
    </div>
  </div>
</div>
